<% if model.errors.any? %>
  <div class="alert-error alert">
    <a class="close" href="#">&times;</a>
    <h2><%= t(:'title.error') %></h2>
    <ul>
      <% model.errors.full_messages.uniq.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>