<% if flash[:notice] %>
  <div class="alert-notify alert">
    <a class="close" href="#">&times;</a>
    <h2><%= t(:notification_title) %></h2>
    <ul>
  		<li><%= flash[:notice] %></li>
    </ul>
  </div>
<% end %>

<% if !model.errors.empty? || flash[:error] %>
  <div class="alert-error alert">
    <a class="close" href="#">&times;</a>
    <h2><%= t(:error_msg_title) %></h2>
    <ul>
      <% model.errors.full_messages.uniq.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>